/* kadai-css.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    width: 1000px;
    background-color: #ffcccc;
}

#wrapper {
    width: 1000px;
    display: flex;
}

#main {
    width: 700px;
    padding: 20px;
    background-color: #ccffcc;
}

#menu {
    width: 300px;
    padding: 20px;
    background-color: #ccccff;
}

footer {
    background-color: #ffccff;
}

